---
import Layout from '../layouts/Layout.astro';
---

<Layout title="about me">
	<main>
		<ul role="list">
			<h2>
                I'm a 16 year old girl, and I spend a lot of my time working on really stupid things. Now a lot of them may not be coded to the
                most efficient standerd but I am really proud of them, my fav of them is my timer using js which can be seen in my blogpost: 'free me'
            </h2>
            <h4>why do I do this?</h4>
            <h2>a lot of the time I find myself alone without much to do so I take to what I find fun which is making really silly things for internet people
                like you reading this ^^</h2>
            <h4>what are my goals?</h4>
            <h2>currently I'm trying to pass my GCSEs and not die while I wait for school to be over, that isnt took long now I dont think
                but there isnt much else I plan to do while I try to now die. I will be working on concept ideas for my game (once again nameless)
                and I will be composing the ost and designing some characters and animations while I revise for somthing relaxing to do in between</h2>
            <h2>thats all from me but I have some stuff I made down in the <a href="projects.html">projects</a> tab if you would like to see anything, although there
                isnt much as of writing this I will be expending upon it.</h2>
            <h2><iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/6mmx1UmZjFwa39CAjGQ4BJ?utm_source=generator" width="100%" height="352" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></h2>
		</ul>
	</main>
</Layout>

<style>
	
</style>
