---
import Layout from '../layouts/Layout.astro';
---

<Layout title="about me">
	<main>
		<ul role="list">
			<h2>
                Hey! I'm roxanne, a 16 year old epic gamer girl (i am very bad at games) but i have fun and thats all that matters
            </h2>
            <h4>what do I do?</h4>
            <h2>Well i do a lot. I'm usually rather busy even though i try and sound like im not, i have so much revision for my GCSEs
                (im not doing much, im just excited to leave). But i play guitar and i code (obviously) im going to reset development on my game
                after i finish highschool, just so i can start again without any worries and be in the right headspace so i dont have any
                large gaps in development because im not mentally in the right place, yk?
            </h2>
            <h4>what are my goals?</h4>
            <h2>Well really i just wanna make it to july, if i manage that then ive done myself proud. Theres so much happening that
                i cant really be focused on anything fun right now, im trying to get back into enjoying things but theres just so much going.
                but i promise the moment im done with highschool ill be making so much, itll be amazing.</h2>
            <h2>also, if you want to find out anything ive made then feel free to go to my projects tab and take a look. Ill be trying
                to make new content for it anyways!
            </h2>
		</ul>
	</main>
</Layout>

<style>
	
</style>
