---
import Layout from '../layouts/Layout.astro';
import BlogPost from '../components/blog.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
---

<Layout title="blog">
	<main>
            <!--this down is what you change-->
            <h4>welcome to my blog</h4>
            <h2>this page is currently going through some changes so please bare with me, as these happen (:</h2>
            <h4>how to use it</h4>
            <h2>this page is filled with buttons that will open either a new tab or popup window to the corresponding blog post,
                all you have to do is find one you would like to read and click on it. Each page will have a back button at the top
                this is for if you are using the blog pages not in a popup window although it is kinda silly to have a small version of my website so, use it as you please!
            </h2>
            <h4>ENJOY</h4>

            <!--hi i made this the blog list now so please dont delete this, thx <3-->
            <h4>welcome to the blog list</h4>
    	{allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} dates={post.frontmatter.pubDate} desc={post.frontmatter.desc} />)}
	</main>
</Layout>

<style>
	main {
    	list-style-type: none;
	}
</style>
