---
import Layout from '../layouts/Layout.astro';
import BlogPost from '../components/blog.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
---

<Layout title="blog">
	<main>
            <!--this down is what you change-->
            <h4>welcome to my blog</h4>
            <h2>this page is still going through a lot of drastic changes so please bear with me, im trying.
                if you have anything to say you can always message me on discord which is linked in my about me page
                but just have a look around im sure youll find somthing youll like.
            </h2>
            <h2>-decending order-</h2>

            <!--hi i made this the blog list now so please dont delete this, thx <3-->
            <h4>welcome to the blog list</h4>
            {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} dates={post.frontmatter.pubDate} desc={post.frontmatter.desc} />)}
	</main>
</Layout>

<style>
	main {
    	list-style-type: none;
	}
</style>
