---
import Layout from '../layouts/Layout.astro';
---

<Layout title="credits!">
	<main>
		<ul role="list">
			<h4>
                Here is a list of people/companys that have had an impact on my website:
            </h4>
            <h2>
                •me, ofc (this is here as a joke lmao)
                <br>
                •<a href="https://marsh.zone">Marshift</a> shes my friend who gave me a lot of assistance the most noticable of which being the code to have the distortion on my pages and the fact im now using a framework to build it
                <br>
                •the background was given to me by a friend (who asked me to put them here but did not want their name here) but it is a stock image so I cannot find the original creator as it has been widly used but I did not make it
                <br>
                •this banner is made by 'MagNifico' <a href="https://wallhaven.cc/w/96emzd">wallhaven</a>
                <br>
                •this wallpaper is made by 'bas123' <a href="https://wallhaven.cc/w/0jko2q">wallhaven</a>
            </h2>
		</ul>
	</main>
</Layout>

<style>
	
</style>
