---
import Layout from '../layouts/Layout.astro';
---

<Layout title="home!" hey='live laugh love (see i put it up in my home, screw you all)'>
	<main onkeypress="god_save_me()">
		<ul role="list">
			<h2>
                Hiiii
            </h2>
            <h2 id="main">
                hii, im roxie (if you didnt know)<br>
                and im an aspiering game developer, i want to be able to make somthing which i can be proud of
                and that make other people happy. Its a weird goal and not as impressive as other people
                but i want to help people who are in the same place ive been through highschool and i delt with it all
                with games. This has inspired me to try and help other people. but most importantly i want you to 
            </h2>
            <h4>
                ENJOY
            </h4>
            <a href="/credits/">
                <div class="boxL">
                    <h2>CREDITS</h2>
                </div>
            </a>
		</ul>
	</main>
</Layout>

<style>
	
</style>

<script is:inline>
    const main = document.getElementById("main")
    linebreak = document.createElement("br");
    var item = 0;
    var word = "howdy";
    var key_list = "";

    document.addEventListener(
        "keydown",
        function(event){
            var current_key = event.key;
            console.log('current_key: ',current_key);
            if(current_key == word[item]){
                key_list = key_list + current_key;
                item++;
                console.log('key_list: ',key_list);
            }
            else{
                key_list = "";
                item = 0;
                console.log("sorry wrong letter");
            }
            if(key_list == word){
                console.log("omg you did it yayyy");
                key_list = "";
                item = 0;

                var a = document.createElement('a');
                var link = document.createTextNode("lonk");
                a.appendChild(link); 
                a.href = ""; 

                main.innerHTML = "theres nothing here yet, you just missed it ):";
                main.appendChild(linebreak);
                main.appendChild(a); 
            }
        },
    );

</script>