---
import Layout from '../layouts/Layout.astro';
---

<Layout title="home" hey='live laugh love (see i put it up in my home, screw you all)'>
	<main>
		<ul role="list">
			<h2>
                Hiiii
            </h2>
            <h2 id="main">
                hii, im roxie (if you didnt know)<br>
                and im an aspiering game developer, i want to be able to make somthing which i can be proud of
                and that make other people happy. Its a weird goal and not as impressive as other people
                but i want to help people who are in the same place ive been through highschool and i delt with it all
                with games. This has inspired me to try and help other people. but most importantly i want you to 
            </h2>
            <h4>
                ENJOY
            </h4>
            <a href="/credits/">
                <div class="boxL">
                    <h2>CREDITS</h2>
                </div>
            </a>
		</ul>
	</main>
</Layout>

<style>
	
</style>