---
import Layout from '../layouts/Layout.astro';
---

<Layout title="home!">
	<main onkeypress="god_save_me()">
		<ul role="list">
			<h2>
                Hiiii
            </h2>
            <h2 id="main">
                welcome to my first website using astro!<br>
                I've done a lot of work on this recently and i think ive got it to a point im happy with,
                personally i also love the '.love' domain. I think its so cute i cant lie. But there is a lot more to do
                so im sure it will keep changing, but i promise i will keep creating new content to add as i improve and
                recently i think ive done a lot of that. From learning js to having my website built on a framework both things
                i didnt think i could have ever done, and im only here thanks to me and my friend maisy who helped me. Anyway,
                dont forget to...
            </h2>
            <h4>
                ENJOY
            </h4>
            <a href="/credits/">
                <div class="boxL">
                    <h2>CREDITS</h2>
                </div>
            </a>
		</ul>
	</main>
</Layout>

<style>
	
</style>

<script is:inline>
    const main = document.getElementById("main")
    linebreak = document.createElement("br");
    var item = 0;
    var word = "howdy";
    var key_list = "";

    document.addEventListener(
        "keydown",
        function(event){
            var current_key = event.key;
            console.log('current_key: ',current_key);
            if(current_key == word[item]){
                key_list = key_list + current_key;
                item++;
                console.log('key_list: ',key_list);
            }
            else{
                key_list = "";
                item = 0;
                console.log("sorry wrong letter");
            }
            if(key_list == word){
                console.log("omg you did it yayyy");
                key_list = "";
                item = 0;

                var a = document.createElement('a');
                var link = document.createTextNode("lonk");
                a.appendChild(link); 
                a.href = "/projects/library"; 

                main.innerHTML = "you may pass  ";
                main.appendChild(linebreak);
                main.appendChild(a); 
            }
        },
    );

</script>