---
import Layout from '../layouts/Layout.astro';
import BlogPost from '../components/blog.astro';
---

<Layout title="projects">
	<main>
            <h4>
                welcome to my projects page!
            </h4>
            <h2>below will be a list of my finished, or unfinished projects. Feel free to take a look!</h2>
        
            <div class="boxL" onmouseover="item_hover('I made a countdown using javascript, this was my first project in js','item0')" onmouseleave="item_hover('The coundown until i finnaly get to leave school','item0')">
                <a href="/projects/free">
                    <h2 id="item0">The coundown until i finnaly get to leave school</h2>
                </a>    
            </div>
            <div class="boxL" onmouseover="item_hover('I made an encoding and encrypting format using the numbers 3,4 and 7 because I got bored of binary during an computer science lesson lesson','item1')" onmouseleave="item_hover('my encryption format!','item1')">
                <a href="https://github.com/roxcelic/37473-44337-43733">
                    <h2 id="item1">my encryption format!</h2>
                </a>    
            </div>
            <div class="boxL" onmouseover="item_hover('this does the same thing as the python version, yet it is more accessable as it is on the web','item2')" onmouseleave="item_hover('my encryption format but in js and on my website!','item2')">
                <a href="/projects/3/">
                    <h2 id="item2">my encryption format but in js and on my website!</h2>
                </a>              
            </div>
            <div class="boxL" onmouseover="item_hover('here is the beta design for the player character','item3')" onmouseleave="item_hover(' character design!','item3')">
                <a href="/images/player.png">
                    <h2 id="item3">character design!</h2>
                </a>              
            </div>
            <div class="boxL" onmouseover="item_hover('here is an odd little animation of the player character I made! (shhhhhhhhhhh pg 13)','item4')" onmouseleave="item_hover('an animation of the character!','item4')">
                <a href="/images/player.gif">
                        <h2 id="item4">an animation of the character!</h2>
                </a>              
            </div>
            <div class="boxL" onmouseover="item_hover('honestly, even im not exactly sure what kind of music it is','item5')" onmouseleave="item_hover('my spotify playlist!','item5')">
                <a href="/projects/spotify/">
                        <h2 id="item5">my spotify playlist!</h2>
                </a>              
            </div>
	</main>
</Layout>

<style>
	main {
    	list-style-type: none;
	}
</style>
<script is:inline>
    function item_hover(description, ids){
        document.getElementById(ids).innerHTML = description
    }
</script>
