---
import Layout from '../layouts/Layout.astro';
---

<Layout title="roxie!" hey='this is my page, my page and its all about me, yeah all about me'>
	<main>
        <h2>
            Hey, I'm roxie. I'm not too good at describing myself but I'm glad your here. To some me up
            I'm a 16 year old developer, what do I develop? This website apparently cause I'm just always doing stuff on it.
            But I am so proud of how far I've come with my web development skills recently, this is somthing way better than
            my first website, I'm off topic. I really like music personally, my favourites at the moment are lemon demon, naethan appolo and
            boy with uke. I'm also a big fan of games like celeste, terraria and overwatch (dont ask why even I dont know). My
            tastes may be odd but things dont have to be good to like them, you just have to like them and thats all that matters.
            I'm considering getting into writing so I might be adding some short storys to this website soon as a bit of a way to pass the time.
            Thats all, I've added some things below for you to have a look at though (:
        </h2>

        <div class="lineline"></div>

        <div class="dropdown-regular">
            <div class="dropdown-view">
                <div class="end" onclick="getclickedboi('drop-timer')">
                    <span class="material-symbols-outlined md">expand_more</span>
                </div>

                <div class="box">
                    <h1>this is a countdown until I get to leave school and be myself forever</h1>
                </div>
                <div class="dropdown-content" id="drop-timer">
                    <h1>21/06/2024 or for you americans 06/21/2024</h1><br>

                    <h1 id="free">  a countdown until the last second im legally obligated to go to high school</h1>

                    <div class="timer">
                        <div>
                            <span><h2>days</h2></span>
                            <h1><p id="days">00</p></h1>
                        </div>
                        <div>
                            <span><h2>hours</h2></span>
                            <h1><p id="hours">00</p></h1>
                        </div>
                        <div>
                            <span><h2>minutes</h2></span>
                            <h1><p id="minutes">00</p></h1>
                        </div>
                        <div>
                            <span><h2>seconds</h2></span>
                            <h1><p id="seconds">00</p></h1>
                        </div>
                    </div>

                    <h2>this is a countdown until the next 'big' date, the dates are:</h2>
                    <h1>28/03/2024 - 15/04/2024 - 24/05/2024 - 03/06/2024 - 21/06/2024</h1>
                    <h1 id="free2"></h1>
                    <div class="timer2">
                        <div class="timer">
                            <div>
                                <h2>days</h2>
                                <h1><p id="days2">00</p></h1>
                            </div>
                            <div>
                                <span><h2>hours</h2></span>
                                <h1><p id="hours2">00</p></h1>
                            </div>
                            <div>
                                <span><h2>minutes</h2></span>
                                <h1><p id="minutes2">00</p></h1>
                            </div>
                            <div>
                                <span><h2>seconds</h2></span>
                                <h1><p id="seconds2">00</p></h1>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>

        <div class="lineline"></div>

        <div class="dropdown-regular">
            <div class="dropdown-view">
                <div class="end" onclick="getclickedboi('drop-spoti')">
                    <span class="material-symbols-outlined md">expand_more</span>
                </div>

                <div class="box">
                    <h1>my main spotify playlists</h1>
                </div>

                <div class="dropdown-content" id="drop-spoti">
                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/6mmx1UmZjFwa39CAjGQ4BJ?utm_source=generator" width="100%" height="352" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/7LaHIFfe5Ie6ip9KKWxsYg?utm_source=generator&theme=0" width="100%" height="352" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                </div>
            </div>
        </div>

        <div class="lineline"></div>

        <div class="dropdown-regular">
            <div class="dropdown-view">
                <div class="end" onclick="getclickedboi('drop-me')">
                    <span class="material-symbols-outlined md">expand_more</span>
                </div>

                <div class="box">
                    <h1>what are you planning to do next?</h1>
                </div>

                <div class="dropdown-content" id="drop-me">
                    <h2>
                        For the next however many days (while I'm still in highschool) I'm gonna focus on this website and its content
                        and after that who knows really. In the time after its going to be a lot of work to find who I am and what I like
                        without having to fear people from my school finding out and judging me for not being like them, a sentiment I'm sure
                        most people looking at my website would agree with.
                    </h2>
                </div>
            </div>
        </div>

        <div class="lineline"></div>

        <div class="dropdown-regular">
            <div class="dropdown-view">
                <div class="end" onclick="getclickedboi('drop-socials')">
                    <span class="material-symbols-outlined md">expand_more</span>
                </div>

                <div class="box">
                    <h1>socials!</h1>
                </div>

                <div class="dropdown-content" id="drop-socials">
                    <h2>
                        <a href="">
                            discord - roxcelic
                        </a>
                    </h2>
                    <h2>
                        <a href="https://github.com/roxcelic">
                            github - roxcelic
                        </a>
                    </h2>
                    <h2>
                        <a href="https://open.spotify.com/user/onyc3nppnjac08vatfd8uulav">
                            spotify - roxie
                        </a>
                    </h2>
                </div>
            </div>
        </div>

        <div class="lineline"></div>
        
	</main>
</Layout>

<script is:inline type="text/javascript">
    //text stuff
    function item_hover(description, ids) {
        document.getElementById(ids).innerHTML = description;
    }

    //stuff to make may happy, again.
    let html_days = document.getElementById("days");
    let html_hours = document.getElementById("hours");
    let html_minutes = document.getElementById("minutes");
    let html_seconds = document.getElementById("seconds");
    let html_free = document.getElementById("free");

    let html_days2 = document.getElementById("days2");
    let html_hours2 = document.getElementById("hours2");
    let html_minutes2 = document.getElementById("minutes2");
    let html_seconds2 = document.getElementById("seconds2");
    let html_free2 = document.getElementById("free2");

    let countDownDate = new Date(Date.UTC (2024, 5, 21, 14, 55, 0)).getTime();
        new Date(new Date().toLocaleString('en', {timeZone: 'America/New_York'}))
        
        let x3 = setInterval(function(){
            let now = new Date().getTime();
            let distance = countDownDate - now;
        
            if (distance > 0){
                let weeks = Math.floor(distance / (1000 * 60 * 60 * 24 * 7));
                let days = Math.floor(distance / (1000 * 60 * 60 * 24));
                let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                let seconds = Math.floor((distance % (1000 * 60)) / 1000);

                html_days.innerHTML = days
                html_hours.innerHTML = hours
                html_minutes.innerHTML = minutes
                html_seconds.innerHTML = seconds
            } if (distance = 0 || distance < 0){
                html_days.innerHTML = 0
                html_hours.innerHTML = 0
                html_minutes.innerHTML = 0
                html_seconds.innerHTML = 0
                html_free.innerHTML = ("IM FREE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
            }
        },1000);

        let countDownDate2 = new Date(Date.UTC (2024, 2, 28, 14, 55, 0)).getTime();
        new Date(new Date().toLocaleString('en', {timeZone: 'America/New_York'}))
        let x4 = setInterval(function(){
            let now2 = new Date().getTime();
            let distance = countDownDate2 - now2;
        
            if (distance > 0){
                let days = Math.floor(distance / (1000 * 60 * 60 * 24));
                let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                let seconds = Math.floor((distance % (1000 * 60)) / 1000);

                html_days2.innerHTML = days
                html_hours2.innerHTML = hours
                html_minutes2.innerHTML = minutes
                html_seconds2.innerHTML = seconds
            } if (distance = 0 || distance < 0){
                html_days2.innerHTML = 0
                html_hours2.innerHTML = 0
                html_minutes2.innerHTML = 0
                html_seconds2.innerHTML = 0
                html_free2.innerHTML = ("finnaly I have a break, also ive probably forgotten to update this just now")
            }
        },1000);

    function getclickedboi(id){
        let cu = document.getElementById(id);
        console.log(cu.style.height);
        if (cu.style.height){
            console.log("hey");
            cu.style.height = ("");
        }
        else{
            if(!cu.style.height){
                console.log("bye");
                console.log(cu.scrollHeight,"px");
                cu.style.height = (cu.scrollHeight + "px");
            }
        }
    }
</script>