---
import Layout from '../layouts/Layout.astro';
const allPosts = await Astro.glob('../pages/story/*.md');
import BlogPost from '../components/blog.astro';
---

<Layout title="test!" hey='how did you find this?'>
    <div class="end" onclick="getclickedboi('dropdown')">
        <span class="material-symbols-outlined md">menu</span>
    </div>
    <h2>
        heheheheh
        <br>
        you cant see me
    </h2>
</Layout>

<script is:inline>
    function getclickedboi(id){
        let cu = document.getElementById(id);
        console.log(cu.style.height);
        if (cu.style.height){
            console.log("hey");
            cu.style.height = ("");
        }
        else{
            if(!cu.style.height){
                console.log("bye");
                console.log(cu.scrollHeight,"px");
                cu.style.height = (cu.scrollHeight + "px");
            }
        }
    }
</script>