@media (prefers-color-scheme: dark) {
    :root {
        --main-color: rgba(255, 0, 0, 0.5);
        --alt-color: rgba(25, 0, 0, 0.5);
        --bgimage: url("../../../public/images/wall.jpg");  
        --bgimage2: url("../../../public/images/why2.png"); 
        --max-height: 0px;
        --font: white; 
        --default-background: pink;
    }
    .material-symbols-outlined.md { color: rgba(255, 255, 255, 1); }
    }
@media (prefers-color-scheme: light) {
    :root {
        --main-color: rgb(245, 122, 169);
        --alt-color: rgba(255, 0, 0, 0.5);
        --bgimage: url("../../../public/images/wall-d.jpg"); 
        --bgimage2: url("../../../public/images/why.png");  
        --max-height: 0px;
        --font: white; 
        --default-background: pink;
    }
    .material-symbols-outlined.md { color: rgba(0, 0, 0, 0.54); }
}
@media (any-pointer: coarse) {
    .boxL{
        display: inline-block;
        top: 100%;
        width: 94.7%;
        border: 3px solid var(--main-color);
        background-color: var(--alt-color);
        opacity: 1;
        margin-bottom: 1.5%;
        border-radius: 15px;
    }
    .boxL:hover{
        display: inline-block;
        top: 100%;
        width: 99.7%;
        border: 3px solid var(--main-color);
        background-color: var(--alt-color);
        opacity: 1;
        margin-bottom: 1.5%;
        border-radius: 15px;
    }
    .boxR{
        position:relative;
        top: 100%;
        width: 12.5%;
        border: 3px solid var(--main-color);
        background-color: var(--alt-color);
        opacity: 1;
        display: inline-block;
        border-radius: 15px;
    }
    .boxR:hover{
        opacity: 1;
    }
}

@media (min-width: 50px) {
    .bar{
        width: 100%;
        height: 0%;
    }
    .text{
        color: var(--font);
        font-size: 0px;
    }
    /*this is where i will make a round thing*/
    .roundThing{
        display: none;
    }
    .pictureBox{
        position:relative;
        width: 100%;
        height: 5rem;
        background-color:var(--default-background);
        background-image: url("../../images/wallpaper.jpg");
    }

    /*this is the text*/
    h1{
        color: var(--font);
        font-size: xx-small;
    }

    h2{
        color: var(--font);
        font-size: x-small;
        text-align: center;
    }

    h4{
        color: var(--font);
        font-size: small;
        font-weight: bold;
        text-align: center;
    }

}

@media (min-width: 800px) {

    .bar{
        background-image: var(--bgimage2);
        background-repeat: repeat-x;
        width: 100%;
        height: 32px;
        justify-content: center;
        position: fixed;
        top: 0;
        opacity: 0.5;
    }
    .text{
        color: var(--font);
        font-size: 28px;
    }
    /*this is where i will make a round thing*/
    .roundThing{
        height: 75px;
        width: 75px;
        background-color: var(--default-background);
        background-image: url('https://avatars.githubusercontent.com/u/157179472?v=4');
        background-size: cover;
        border-radius: 50%;
        display: inline-block;
        margin: 1%;
    }
    .pictureBox{
        position:relative;
        width: 100%;
        height: 0rem;
    }

    /*this is the text*/
    h1{
        color: var(--font);
        font-size: x-small;
    }

    h2{
        color: var(--font);
        font-size: small;
        text-align: center;
    }

    h4{
        color: var(--font);
        font-size: medium;
        font-weight: bold;
        text-align: center;
    }

}

@media (min-width: 1600px) {

    /*this is the text*/
    h1{
        color: var(--font);
        font-size: small;
    }

    h2{
        color: var(--font);
        font-size: medium;
        text-align: center;
    }

    h4{
        color: var(--font);
        font-size: large;
        font-weight: bold;
        text-align: center;
    }
}