a:link {
    color: green;
}
  
a:visited {
    color: lightgreen;
}
  
a:hover {
    color: hotpink;
}
  
a:active {
    color: blue;
} 

html{
    background-color: pink;
    background-image: url('../../../public/images/wall.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 100%
}
body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background: repeating-linear-gradient(0deg, rgba(0, 0, 0, .25), rgba(0, 0, 0, .25) 1px, transparent 2px, transparent 3px);
}
.roundThing2{
    height: 75px;
    width: 75px;
    background-color: pink;
    background-size: cover;
    border-radius: 50%;
    display: inline-flex;
    margin-right: 50px;
    margin-left: 15%;
    margin: 1%;
}

/*this is the text*/
h1{
    color: aliceblue;
    font-size: 1rem;
}

h2{
    color: white;
    font-size: 1rem;
    text-align: center;
}

h3{
    color: aliceblue;
    font-size: 1rem;
    text-align: center;
    display: inline;
    padding: 3%;
}

h4{
    color: aliceblue;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}

h5{
    color: aliceblue;
    font-size: 1rem;
    align-content: center;
    text-align: center;
}

h6{
    color: aliceblue;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.mainBox{
    display: block;
    text-align: center;
    position: relative;
    margin-top: 3vh;
    width: 79%;
    left: 9%;
    border: 3px solid rgb(245, 122, 169);
    background-color: rgba(255, 0, 0, 0.5);
    list-style-type: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menuR{
    flex-wrap: wrap;
}

.menuL{
    text-align: center;
    flex-basis: 25%;
}
.boxR{
    position:relative;
    top: 100%;
    width: 12.5%;
    border: 3px solid rgb(245, 122, 169);
    background-color: rgba(255, 0, 0, 0.5);
    opacity: 0.5;
    display: inline-block;
    border-radius: 15px;
}
.boxR:hover{
    opacity: 1;
}
.timer{
    display: flex;
    align-content: center;
}
.timer div{
    flex-basis: 25%;
}

.timer2{
    display: flex;
    align-content: center;
}
.timer2 div{
    flex-basis: 100%;
}
.boxL{
    display: inline-block;
    position: relative;
    top: 100%;
    width: 94.7%;
    border: 3px solid rgb(245, 122, 169);
    background-color: rgba(255, 0, 0, 0.5);
    opacity: 0.5;
    margin-bottom: 1.5%;
    border-radius: 15px;
}
.boxL:hover{
    display: inline-block;
    position: relative;
    top: 100%;
    width: 99.7%;
    border: 3px solid rgb(245, 122, 169);
    background-color: rgba(255, 0, 0, 0.5);
    opacity: 1;
    margin-bottom: 1.5%;
    border-radius: 15px;
}

@media (any-pointer: coarse) {
    .boxL{
        display: inline-block;
        position: relative;
        top: 100%;
        width: 94.7%;
        border: 3px solid rgb(245, 122, 169);
        background-color: rgba(255, 0, 0, 0.5);
        opacity: 1;
        margin-bottom: 1.5%;
        border-radius: 15px;
    }
    .boxL:hover{
        display: inline-block;
        position: relative;
        top: 100%;
        width: 99.7%;
        border: 3px solid rgb(245, 122, 169);
        background-color: rgba(255, 0, 0, 0.5);
        opacity: 1;
        margin-bottom: 1.5%;
        border-radius: 15px;
    }
    .boxR{
        position:relative;
        top: 100%;
        width: 12.5%;
        border: 3px solid rgb(245, 122, 169);
        background-color: rgba(255, 0, 0, 0.5);
        opacity: 1;
        display: inline-block;
        border-radius: 15px;
    }
    .boxR:hover{
        opacity: 1;
    }
}

@media (min-width: 50px) {
    .bar{
        width: 100%;
        height: 0%;
    }
    .text{
        color: white;
        font-size: 0px;
    }
    /*this is where i will make a round thing*/
    .roundThing{
        height: 0px;
        width: 0px;
    }
    .pictureBox{
        position:relative;
        width: 100%;
        height: 5rem;
        background-color: rgba(0, 0, 0, 0.5);
        background-image: url("../../images/wallpaper.jpg");
    }

    /*this is the text*/
    h1{
        color: aliceblue;
        font-size: x-small;
    }

    h2{
        color: white;
        font-size: x-small;
        text-align: center;
    }

    h3{
        color: aliceblue;
        font-size: xx-small;
    }

    h4{
        color: aliceblue;
        font-size: small;
        font-weight: bold;
        text-align: center;
    }

    h5{
        color: aliceblue;
        font-size: medium;
        align-content: center;
        text-align: center;
    }

    h6{
        color: aliceblue;
        font-size: small;
        font-weight: bold;
        text-align: center;
        white-space: pre-wrap; 
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
    }
}

@media (min-width: 800px) {

    .bar{
        background-image: url("/images/why.png");
        background-repeat: repeat-x;
        width: 100%;
        height: 32px;
        justify-content: center;
        position: fixed;
        top: 0;
        opacity: 0.5;
    }
    .text{
        color: white;
        font-size: 28px;
    }
    /*this is where i will make a round thing*/
    .roundThing{
        height: 75px;
        width: 75px;
        background-color: pink;
        background-image: url('https://avatars.githubusercontent.com/u/157179472?v=4');
        background-size: cover;
        border-radius: 50%;
        display: inline-block;
        margin: 1%;
    }
    .pictureBox{
        position:relative;
        width: 100%;
        height: 0rem;
    }

    /*this is the text*/
    h1{
        color: aliceblue;
        font-size: small;
    }

    h2{
        color: white;
        font-size: small;
        text-align: center;
    }

    h3{
        color: aliceblue;
        font-size: x-small;
    }

    h4{
        color: aliceblue;
        font-size: medium;
        font-weight: bold;
        text-align: center;
    }

    h5{
        color: aliceblue;
        font-size: medium;
        align-content: center;
        text-align: center;
    }

    h6{
        color: aliceblue;
        font-size: medium;
        font-weight: bold;
        text-align: center;
        white-space: pre-wrap; 
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
    }
}

@media (min-width: 1600px) {

    /*this is the text*/
    h1{
        color: aliceblue;
        font-size: medium;
    }

    h2{
        color: white;
        font-size: medium;
        text-align: center;
    }

    h3{
        color: aliceblue;
        font-size: small;
    }

    h4{
        color: aliceblue;
        font-size: large;
        font-weight: bold;
        text-align: center;
    }

    h5{
        color: aliceblue;
        font-size: medium;
        align-content: center;
        text-align: center;
    }

    h6{
        color: aliceblue;
        font-size: large;
        font-weight: bold;
        text-align: center;
        white-space: pre-wrap; 
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
    }
}