---
interface Props {
	title: string;
}

const {title} = Astro.props;
---

<div class="box">
    <div class="bar">
        <marquee>
            <div class="text">
                {title}
            </div>
        </marquee>
    </div>
</div>

<style>
    
</style>
