---
var {title, author,cont} = Astro.props;
---

<a>
	<div class="book">hi</div>
</a>
<style>
	.book{
		display: inline-block;
		background-color: pink;
		width: 20px;
		height: 80px;
		border: 3px solid brown;
	}
	.book:hover{
		display: inline-block;
		background-color: yellow;
		width: 20px;
		height: 80px;
		border: 3px solid green;
	}
</style>
<script>

</script>