---

---

<li class="Box">
	<div class="menuL">

        <a href="/projects/encoding/">
            <div class="boxR">
                <h2>encode</h2>
            </div>
        </a>
        <a href="/projects/decoding/">
            <div class="boxR">
                <h2>decode</h2>
            </div>
        </a>
        <a href="/projects/encrypting/">
            <div class="boxR">
                <h2>encrypt</h2>
            </div>
        </a>
        <a href="/projects/decrypting/">
            <div class="boxR">
                <h2>decrypt</h2>
            </div>
        </a>
        
    </div>
</li>

<style>

</style>
