---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="encoding!">
	<main>
		<ul role="list">
			<h4>
                ENCODING TIME 
            </h4>
            <h2>
                hiii, so this is a javascript recreation of my github repo: '37473-44337-43733' I hope you enjoy!<br>
            </h2>
                <a href="../encoding">
                    <div class="boxL">
                        <h2>encoding</h2>
                    </div>
                </a>
                <a href="../decoding">
                    <div class="boxL">
                        <h2>decoding</h2>
                    </div>
                </a>
                <a href="../encrypting">
                    <div class="boxL">
                        <h2>encrypting</h2>
                    </div>
                </a>
                <a href="../decrypting">
                    <div class="boxL">
                        <h2>decrypting</h2>
                    </div>
                </a>
		</ul>
	</main>
</Layout>

<style>
	
</style>
