---
import Layout from '../../layouts/Layout.astro';
import Box from '../../components/somthing.astro';
---

<Layout title="decrypting!">
	<main>
		<ul role="list">
			<Box
				
			/>

            <h6>
                <p id="output">void</p>
            </h6>
            <h2>
                <form onsubmit="return myFunction()">
                    input: <input type="text" id="input" size="20" name="input"><br><br>
                    key: <input type="text" id="key" size="20" name="key"><br>
                </form>
                <button onclick="myFunction()">push it.</button>
            </h2>
		</ul>
	</main>
</Layout>

<style>
	
</style>
<script is:inline>

	const copyContent = async (text) => {
		try {
			await navigator.clipboard.writeText(text);
			window.alert('Content copied to clipboard');
			} catch (err) {
			console.error('Failed to copy: ', err);
			window.alert('Failed to copy: ', err);
			}
		}

	hexs = {
		0 : "0",
		1 : "1",
		2 : "2",
		3 : "3",
		4 : "4",
		5 : "5",
		6 : "6",
		7 : "7",
		8 : "8",
		9 : "9",
		10 : "a",
		11 : "b",
		12 : "c",
		13 : "d",
		14 : "e",
		15 : "f"
		}  

	function findMapKey (map, ind) {
		var match = null;
		Object.keys(map).some(function(key) {
			var test = map[key].indexOf(ind)!==-1;
			if (test) { 
				match = key; 
			} 
			return test;
		});
		return match;
	}

	function myFunction(){
		var input = document.getElementById("input").value;
		var key = document.getElementById("key").value;
		var keys = ""

		var keys = key.split(" ")
		var key1 = keys[0]
		var key2 = keys[1]
		var key3 = keys[2]
		var key5 = 1
		var number2 = ""
		var count = 0
		var num = ""

		for (item in key3){
			key4 = findMapKey(hexs, key3[item]);
			key5 = key5 * key4
		}

		key2 = key5 * key2

		for (items in input){
			if (count != 8){
				count = count + 1
				num = num + input[items]
			}
			if (count == 8){
				count = 0
				num = num - key2
				num = num + Math.floor(key1)
				number2 = number2 + Math.floor(num)
				num = ""
			}
		}

		document.getElementById("output").innerHTML = number2
		copyContent(number2);
	}
</script>