---
import Layout from '../../../layouts/Layout.astro';
import Box from '../../../components/somthing.astro';
---

<Layout title="decoding!">
	<main>
		<ul role="list">
			<a href="encode.html">
                <Box
				
				/>
            </a>
            <h6>
                <p id="output">void</p>
            </h6>
            <h2>
                <form onsubmit="return myFunction()">
                    input: <input type="text" id="input" size="20" name="input"><br>
                </form>
                <button onclick="myFunction()">push it.</button>
            </h2>
		</ul>
	</main>
</Layout>

<style>
	
</style>
<script is:inline>

	const copyContent = async (text) => {
		try {
			await navigator.clipboard.writeText(text);
			window.alert('Content copied to clipboard');
			} catch (err) {
			console.error('Failed to copy: ', err);
			window.alert('Failed to copy: ', err);
			}
		}

	function myFunction(){
		var input = document.getElementById("input").value;
		var output = "0"
		var count = [3,3,3,3,3,3,3,3,3]
		var passing = 1
		var counting = "false"
		var item = 7
		var end = "false"
		var text = input
		var count3 = ""
		var counter = 0
		var figure = ""
		var output2 = ""

		for (items in input){
			if (counter != 8){
				figure = figure + input[items]
				counter = counter + 1  
			}
			if (counter == 8){
				figure = figure + "3"
				while (end == "false"){
					if (passing != 0){
						var counting = "true"
						while (counting == "true"){
							if (count[item] == 3){
								count[item] = count[item] + 1
								if (item != 8){
									var item = 8
									var counting = "false"
								}
							}
							else if (count[item] == 4){
								count[item] = count[item] + 3
								if (item != 8){
									var item = 8
									var counting = "false"
								}
							}
							else if (count[item] == 7){
								count[item] = 3
								if (item != 0){
									var item = item - 1
								}
							}
						}

						var passing = passing + 1
						var count2 = count
				
						if (count.join("") == figure){
							end = "true"
							output = passing
						}
					}
				}   
				output2 = output2 + String.fromCharCode(passing)
				counter = 0
				figure = ""
				passing = 1 
				count = [3,3,3,3,3,3,3,3,3]
				end = "false"
			}
		}   
		document.getElementById("output").innerHTML = output2
		copyContent(output2);
	}
</script>
