html{
    background-color: var(--default-background);
    background-image: var(--bgimage);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 100%
}
body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background: repeating-linear-gradient(0deg, rgba(0, 0, 0, .25), rgba(0, 0, 0, .25) 1px, transparent 2px, transparent 3px);
}
body{
    scrollbar-color: #E68D6D transparent; /* Foreground color (peach) and background color (transparent) */
    scrollbar-width: thin; /* Set the scrollbar width (thin or auto) */
}
h1{
    color: var(--font);
    font-size: 1rem;
    text-align: center;
    display: inline;
    padding: 3%;
}
h2{
    color: var(--font);
    font-size: 1rem;
    text-align: center;
}
h4{
    color: var(--font);
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}
a:link {
    color: green;
}
a:visited {
    color: lightgreen;
}
a:hover {
    color: hotpink;
}
a:active {
    color: blue;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: radial-gradient(circle, #BFA3D0, #F9CDAE);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: radial-gradient(circle, #8C5B9E, #E68D6D);
}
